# System files
.DS_Store

# Dependencies
node_modules

# Build directories
/web/build
/scrape/dist
/scrape/website-text/*

# SvelteKit and Vite specific
/.svelte-kit
/web/.svelte-kit
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Environment files
.env
.env.*
!.env.example
.env*.local